*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    width: 375px;
    margin: 0 auto;
   
    
}
:root{
    --font-p: 'Berkshire Swash', cursive;
    --font-g:'Quicksand', sans-serif;
    --color1:#0f9ed6;
    --color2: #53a253;
    --color3: #faee06; 
}

.envolve{
width: 375px;
height: 120h;
background-image: url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8dW5pdmVyc2UlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
background-repeat: no-repeat;
margin: 0 auto;
right: 0;
left:0;
bottom: 0;
top:0;
}

/* texto */
p{
   font-family: var(--font-g); 
   font-weight: 500;
   margin-left: 10px;
}
h1{
    font-family: var(--font-p);
    
    padding-top: 30px;
    text-align: center;
    color:var(--color3);
    font-size: 40px;
    text-shadow: 50px;
}
h2{
    font-family: var(--font-g);
    
    padding-top: 30px;
    text-align: center;
    color:rgb(200, 98, 14);
    font-size: 18px;
    text-shadow: 50px;
}
a{
    text-decoration: none;
    margin-top: 20px;
    text-align: center;
    
    
    
}

.subtitulo{
    text-align: center;
    color: white;
    text-shadow: #03102c 2px;
    font-size: 18px;
    
    
    
}
.seta{
    width: 50px;
    position:relative;
    margin-bottom: 150px;
    animation-name: arrow;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    margin-left: 20px;

   

}
h3{
    color:rgb(131, 128, 128);
    font-size: 12px;
    letter-spacing: 2px;
    font-family: var(--font-g);
    text-align: center;
 
}
.seta2{
    width: 50px;
    /* position:relative; */
    margin-left: 165px;
    margin-top: 40px;
    animation-name: arrow;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
  

}
/* imagens */



.logo{
   width:320px;
   margin-left: 35px;

}
.jcarro{
    position: relative;
    width: 230px;
    animation-name: pulo;
    animation-duration: 15000ms;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
}

.vaca{
   width:150px;
   animation-name: rodar;
   animation-duration: 15000ms;
   animation-iteration-count: infinite;
}

button{
    background-color: var(--color1);
    border: none;
    width: 95px;
    height: 30px;
    border-radius: 5px;
    display:flexbox;
    color: rgb(10, 48, 73);
   
}
button a{
    text-decoration: none;
    color:#5c2d08;
}
button:hover{
    background-color:var(--color3);
}
.btn{

    margin-left: 90px;
    margin-top: 50px;
    margin-bottom: 20px;
   

}
.jose{
    width:150px;
    animation-name: batevolta;
    animation-duration: 100000ms;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-direction: alternate;


}
.laranja{
    width:50px;
    margin-left: 2px;
    animation-name: lado;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}
.carro{
    width:100px;
    animation-name: lado2;
    animation-duration: 120000ms;
    animation-iteration-count: infinite;
    animation-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1)
}

.parte3   {
    width: 375px;
    background-image: url(https://img.freepik.com/vetores-premium/grande-xadrez-amarelo-xadrez-xadrez-fundo-padrao-perfeito-para-papel-de-parede-pano-de-fundo-cartao-postal_565280-235.jpg);
    width:375px;
    object-fit: cover;
    border-radius: 15px 15px 0 0 ;
}  
.parte3 p{
    background-color: rgba(255, 234, 2, 0.999);
    border-radius: 15px;
    width: 300px;
    text-align: center;
    margin:0 auto;
    padding: 10px;
    font-family: var(--font-p);
    font-size: 20px;
    color: rgb(13, 91, 132);
    letter-spacing: 1px;

}
.parte3 h2{
 
    text-align:center;
    margin:0 auto;
    font-family: var(--font-g);
    font-size: 20px;
    color: rgb(58, 84, 144);
    letter-spacing: 1px;

}

.parte4 p{
   
    margin-top: 10px;
    width: 300px;
    text-align: center;
    margin:0 auto;
    font-size: (--font-p);
    margin-bottom: 30px;
    color:rgb(58, 84, 144);
      
}
.parte3{
    height: 400px;
   
}
.parte4{
    background-color: white;
    width:375px;
    height: 380px;
    padding-top: 30px;
    padding-bottom: 40px;
    border-radius: 0 0 15px 15px;
}

.alegria{
    font-family: var(--font-p);
    font-size: 28px;
    letter-spacing: .5px;
}
.parte2{
    
    background-image: url(https://thumbs.dreamstime.com/b/desenho-infantil-estilo-de-casa-da-fam%C3%ADlia-grande-ilustra%C3%A7%C3%A3o-do-vetor-crayon-195512737.jpg);
    background-size: 380px;
    background-repeat: no-repeat;
    margin-bottom: 0px;

}

.parte2 p{
    margin-top: 10px;
    background-color:var(--color2);
    border-radius: 15px;
    width: 375px;
    text-align: center;
    margin:0 auto;
   
    
}
.by img{
    width:100px;
    position: -700px;
  margin-left: 150px;
}

/* animação */

@keyframes lado {
    0%{
        transform:translateX(-50px);
        

    }

    30%{
        transform:translateY(120px);
        
        
    }
    100%{
        transform:translateX(340px);
        
    }
}

@keyframes rodar {
    0%{
        
        transform:rotate(0)

    }
    
    100%{
        transform:rotate(360deg);
        
    }
}

@keyframes batevolta {
    0%{
        transform:translateY(-800px);

    }
    60%{
        transform:translateX(260px);

    }
    70%{
        transform:rotateY(360deg);
    }

    100%{
        transform:translateY(400px);
    }
}
@keyframes lado2 {
    0%{
        transform:translateX(100px);
        

    }
    /* 5%{
        transform:translateX(0px);
        

    } */
    10%{
        transform:rotate(25deg)

    }
    50%{
        transform:translateY(-500px)
    }
      
    100%{
        transform:translateX(-330px);
        
    }
}
@keyframes arrow {
    0%{
        transform: translateY(00px);
    }
    100%{
        transform:translateY(50px);
    }
}
@keyframes pulo {
    0%{
        transform: translateX(190px);
    }
   
    
    100%{
        transform: translateX(-100px);
    }
    
}